/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.grayscaled {
  filter: grayscale(50%);
}

.saturated {
  filter: saturate(300%);
}

.hue-rotated {
  filter: hue-rotate(45deg);
}

.inverted {
  filter: invert();
}

.sepia {
  filter: sepia();
}

.blured {
  filter: blur(10px);
}

.mixed {
  filter: hue-rotate(90deg) blur(2px) sepia(50%);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--themes-color-main, #00cc14);
  font-family: var(--font-main, 'Arial Narrow', Arial, sans-serif);
  background-color: var(--themes-color-background, #000);
  background-image: var(
    --themes-gradient-background,
    repeating-linear-gradient(90deg, #000 0px 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(#000 0px 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(#007f0c, #004306)
  );
  background-repeat: no-repeat;
  background-size: 100% 100vb;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: var(--outline-accent, 2px solid var(--themes-color-main, #00cc14));
  background: var(--themes-color-background, #000);
  inline-size: min(calc(100% - 4px), 696px);
  block-size: min-content;
  margin-block-start: 102px;
  padding: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem) 0 25px;
}

.header__title {
  font-family: var(--font-accent, 'Courier New', Courier, monospace);
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vi, 4.0625rem);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.header__subtitle {
  margin-block-start: 20px;
  font-family: var(--font-accent, 'Courier New', Courier, monospace);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.header__theme-menu {
  margin: 25px 0 0 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
  inline-size: 100%;
}

.theme-menu__button {
  display: block;
  border: none;
  padding: 0;
  color: var(--themes-color-main, #00cc14);
  font-family: 'Press Start 2P';
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  font-family: var(--font-accent);
}

.content {
  margin-block-start: 104px;
  background: var(--themes-color-background, #000);
  inline-size: min(calc(100vi - 4px), 696px);
}

.section {
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.card {
  outline: var(--outline-accent, 2px solid var(--themes-color-main, #00cc14));
}

.card__heading {
  display: flex;
  align-items: center;
  outline: var(--outline-accent, 2px solid var(--themes-color-main, #00cc14));
  padding: 5px 10px 7px;
  color: var(--themes-color-main, #00cc14);
  font-weight: 785;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background: var(--themes-color-background);
}

.card__image-wrapper {
  position: relative;
  outline: var(--outline-accent, 2px solid var(--themes-color-main, #00cc14));
  block-size: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  overflow: hidden; /* Made to ensure that the blur filter not goes outside the image container */
}

.image-wrapper__watermark {
  z-index: 1;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  inset-block-start: clamp(1.438rem, 1.393rem + 0.188vw, 1.563rem);
  inset-inline-end: clamp(0.688rem, 0.379rem + 1.315vw, 1.563rem);
  font-family: var(--font-accent, 'Courier New', Courier, monospace);
  font-size: 14px;
  mix-blend-mode: hard-light;
  text-shadow: var(--themes-color-background) 0 1px,
    var(--themes-color-background) 1px 0, var(--themes-color-background) 0 -1px,
    var(--themes-color-background) -1px 0;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .image-wrapper__watermark {
    -webkit-text-stroke: 1px #000;
    text-stroke: 1px #000;
    text-shadow: none;
  }
}

.card__image {
  object-fit: cover;
  object-position: right;
  inline-size: 100%;
  block-size: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-block-start: none;
  padding: 27px 25px 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  color: var(--themes-color-main, #00cc14);
  font-family: Inter;
  font-variation-settings: 'wght' 465;
  font-size: 18px;
  font-style: normal;
  line-height: 21px; /* 116.667% */
}

.card__controls {
  display: flex;
  justify-content: end;
  gap: 6px;
}

.card__icon-button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  appearance: none;
  font-size: 0;
  margin-block-start: 2px;
}

.like-icon {
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .main-body {
  transition: fill 0.3s linear 3ms;
}

.like-icon .core {
  transition: fill 0.3s linear 3ms;
}

.like-icon:hover .core {
  fill: var(--themes-color-main);
  transition: fill 0.3s linear;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--outline-accent, 2px solid var(--themes-color-main, #00cc14));
  overflow: hidden;
  background: var(--themes-color-background, #000);
  cursor: pointer;
  block-size: 38px;
  inline-size: 130px;
  appearance: none;
}

.card__like-button::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--themes-color-main);
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}
.card__like-button:hover::before {
  translate: 0%;
}

.button__text {
  color: var(--themes-color-main, #00cc14);
  font-family: var(--font-accent, 'Courier New', Courier, monospace);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%; /* 12.6px */
  mix-blend-mode: difference;
}

.footer {
  margin: 52px 0 103px;
}

.footer__button-floppy {
  appearance: none;
  cursor: pointer;
  border: var(--outline-accent, 2px solid var(--themes-color-main, #00cc14));
  font-family: var(--font-accent, 'Courier New', Courier, monospace);
  padding: 15px 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (width <= 375px) {
  .footer__button-floppy {
    flex-direction: column;
  }
}

.floppy {
  block-size: 21px;
  inline-size: 21px;
}

@media (width <= 375px) {
  .floppy {
    block-size: 28px;
    inline-size: 28px;
  }
}

#save-dialog {
  background: var(--themes-color-background);
  border: var(--outline-accent);
  padding: 30px;
  inline-size: clamp(21.313rem, 20.96rem + 1.502vw, 22.313rem);
}

#save-dialog[open] {
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  gap: 30px 20px;
  color: var(--themes-color-main);
}

#save-dialog::backdrop {
  opacity: 0.75;
  background: var(--themes-color-background, #000);
}

#save-dialog .floppy {
  block-size: 39px;
  inline-size: 39px;
  flex-shrink: 0;
}

.save-dialog__text {
  font-family: var(--font-accent, 'Courier New', Courier, monospace);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.save-dialog__form {
  grid-column: span 2;
}

.save-dialog__button {
  display: block;
  inline-size: 100%;
  appearance: none;
  cursor: pointer;
  background: transparent;
  border: var(--outline-accent);
  padding: 9px 17px;
  text-transform: uppercase;
}
